<% layout('../Layouts/mainlayout.ejs') -%>
<br/><br/>
<b>My Flash Cards</b>
<br/><br/>
<table>
<% for(var i = 0; i < flashcards.length; i++) { %>
    <% if(flashcards.length > 0){ %>
    <tr>
      <td><b>ID:</b><%= flashcards[i]._id %></td>
      <td><b>Title:</b> <%= flashcards[i].Title %></td>
      <td><a href='/Flash Card/Detail?_id=<%= flashcards[i]._id %>'>Detail</a></td>
      <td><a href='/Flash Card/Edit?_id=<%= flashcards[i]._id %>'>Edit</a></td>
    </tr>
    <% } else { %>
        <p>You do not have Flash Cards Now</p>
    <% } %>
 <% } %>
</table>