<% layout('../layouts/mainlayout.ejs') -%>
<br/>
<form action="/Card/CreateCard" method="POST">   
    <table>
        <tr>
            <td>Card Title: </td>
            <td><input name="title" type="text"
                       value="<%= cards.title ? cards.title : '' %>"></td>
        </tr>  
        <tr>
            <td>Context: </td>
            <td><input name="context" type="text" 
                value="<%= cards.context? cards.context : '' %>"></td>
        </tr> 
        <tr>
            <td></td>
            <td> <input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<%= errorMessage ? errorMessage : "" %><br/>